

{{#each beersArr}}

<ul>
<li>
    <img src="{{image_url}}" alt="imagen" widht="100px" height="100px">
    <h2>{{name}}</h2>
    <h4>{{description}}</h4>
    <h3>{{tagline}}</h3>
</li>
</ul>

{{/each}}